---
layout: default
---

 <div id="carousel-example-generic" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10">
          <div class="starter-template">
          <div id="player" style="width:100%;margin-left:auto;margin-right:auto"></div>          
           <script type="text/javascript">
           var href= window.location.href;
           var pos = href.indexOf('?t=');
           var param = href.substring(pos+3);
           var paramNum = Number(param);
           
           if(pos>0 && !isNaN(paramNum)){
        		 var vautostart = 'true';
             var vstarttime = paramNum;
	         } else{
	        	 var vautostart = 'false';
             var vstarttime = 0;
	         }         
           
           SewisePlayer.setup({
                      server: 'vod',
                      type: 'm3u8',
                      videourl: '{{ page.video}}',
                      poster: '{% if page.cover %}{{ page.cover }}{% endif %}',
                      skin: 'vodFlowPlayer',
                      title: '',
                      logo: '{{ "/assets/images/dot.gif" | prepend: site.qiniubaseurl }}',
                      lang: 'zh_CN',
                      autostart: vautostart,
                      topbardisplay: 'disable',
                      controlbardisplay: 'enable',
                      claritybutton: "disable",
                      starttime: vstarttime,
            }, "player");
          </script>         
           
           </div>
           <div class="starter-template">
           <p>{{ page.title }}</p>
           </div>
           </div>
          <div class="col-md-1"></div>
         </div>         
         </div><!-- /.container -->         
    </div>
  </div>

  <!-- Controls -->
 {% if page.next.url %}
  <a class="left carousel-control hidden-xs" href="{{page.next.url}}" role="button" data-slide="next" title="下一期">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
   {% else %}
   <a class="new-event left carousel-control hidden-xs" href="javascript:;" role="button" data-slide="next" title="下一期">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
   {% endif %}
   {% if page.previous.url %}
  <a class="right carousel-control hidden-xs" href="{{page.previous.url}}" role="button" data-slide="prev"  title="前一期">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  {% endif %}	
</div>

<div class="container">
<div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10">  
     <h2>本期内容 </h2>   
    {{ content }}       
    {% include intro.html %}
    
    <div class="center-block text-center">
          <ul class="pagination">
          {% if page.next %}
            <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">&laquo; 下一期</a></li>
          {% else %}
            <li class="next disabled"><a>&larr; 下一期</a></li>
          {% endif %}
            <li><a href="/history" title="历次视频">历次视频</a></li>
          {% if page.previous %}
            <li class="prev"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">前一期 &raquo;</a></li>
          {% else %}
            <li class="prev disabled"><a>前一期 &rarr;</a>
          {% endif %}
          </ul>
     </div>
    
   </div>
    <div class="col-md-1"></div>
</div>
</div>
